body {
    background-color: #fff;
	font-family: loraregular, 'Open Sans', serif;
    color: #868e96;    
    padding-top: 0;
    padding-left: 8rem;
    position: relative;
}
h2 {
    font-size: 3.5rem;
}
h3 {
    font-size: 1.70rem;
}
h1, h2, h3, h4, h5, h6 {
    font-family: cinzel, serif;
    font-weight: 700;
    text-transform: uppercase;
}
header {
	position: fixed;
    top: 0;
    left: 0;
    width: 130px;
    height: 100%;
	background-color: #164C2A!important;
}
header a {
	color: #fff;
}
header .li-ul-menu a{
	color: #fff;
}
header .li-ul-menu a:hover {
	color: #fff;
}
i {
	font-size: 15px;
}

.nav-link.active .fa-circle-thin:before {
    content: "\f111";
}
#div-mobile {
	display: none;
	background-color: #164C2A!important;
	height: 56px;
}
#botao-mobile{
	border: 1px solid #fff;
	border-radius: 3px;
	display: none;
	background-color: #164C2A!important;
}
.ativo {
	border-bottom: 2px solid #164C2A!important;
}
#sideNavDesktop {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 8rem;
    height: 100vh;
}
#sideNavDesktop .navbar-collapse {
    align-items: flex-start;
    flex-grow: 0;
    width: 100%;
    margin-top: auto;
    margin-bottom: auto;
    flex-basis: auto;
}
.li-ul-main a:hover {
	border-bottom: 2px solid #164C2A!important;
}
.navbar-nav .nav-link {
    color: #fff;
}
.li-ul-main {
    font-size: 0.95em;
    text-shadow: 0px 1px 2px black;
    padding: 0;
    margin: .5rem;
    padding-bottom: 2px;
}
.nav-link-lateral {
	padding: .5rem 0.8rem;
}
.li-ul-menu {
	padding-bottom: 25px;
}
#main {
	left: 120px;
    width: calc(100% - 120px);
    width: 100%;
}
.container-fluid {
    padding-right: 0;
    padding-left: 0;
}
.logo {
    position: relative;
}
.logo img {
    max-width: 130px;
    position: absolute;
    margin-top: 1rem;
    margin-left: 3rem;
}
#mainNavDesktop ul {
    flex-direction: initial;
}
#section-home{
    height:auto;
    overflow:hidden;
   	border-bottom: 1px solid #dee2e6;
    background-color: green;
    background: url(../img/fotoescritorio.png);
    padding-top: 1rem !important;
    padding-bottom: 3rem !important;
    margin: 1rem 0rem 1rem 2rem;
    background-position-y: bottom!important;
    background-size: cover!important;
    background-repeat: no-repeat!important;
}
#section-institucional h1 {
    color: white;
    text-shadow: 1px 0px 10px #5a5a5a;
    font-size: 5em;
    line-height: 1.1em;
}
.texto-principal {
	padding-top: 5rem!important;
	padding-left: 5em;	
}
.box-legend {
    background-color: #000000b3;
    padding: 1.5rem!important;
}
.box-legend p{
    color: white;
    line-height: 1.8em;
    font-family: cinzel, serif;
    font-weight: 400;
    text-transform: uppercase;
}
.social-media i{
	color: #fff;
	font-size: 45px;
	padding-right: 10px;
}
.botao {
    background-color: #f6f6f6;
    border: 1px solid #f6f6f6;
    border-radius: 2px;
    padding: 0.2em 1em;
    text-transform: uppercase;
    font-family: cinzel, serif;
    font-weight: 400;
    min-width: 180px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    line-height: 1.8em;
    color: #333;
}
.botao:hover {
	text-decoration: none;
	color: #333;
}
#section-equipe{
    height: auto;
    overflow: hidden;
   	background-color: #eee;
	border-bottom: 1px solid #dee2e6;
   	background: url(../img/equipe.png);
    padding-top: 1rem !important;
    padding-bottom: 3rem !important;
    margin: 1rem 0rem 1rem 2rem;
    background-position-y: bottom!important;
    background-size: cover!important;
    background-repeat: no-repeat!important;
}
.div-oculta {
	margin-top: 500px;
}
#section-equipe h2 {
	font-size: 50px;
    color: white;
    line-height: 1.8em;
    font-family: cinzel, serif;
    font-weight: 700;
    text-transform: uppercase;
}
#section-atuacao {
    border-bottom: 1px solid #dee2e6;
    padding-bottom: 5rem !important;
    background-size: cover!important;
    background-position-x: center!important;
}
img.float-left-position {
    position: absolute;
    left: -10rem;
    z-index: 2000;
    padding-left: 0;
    width: 40rem;
    max-width: none;
}
.list-areas ul {
    list-style: none;
    padding: 0;
}
.list-areas li {
    margin-top: 2.5rem;
    text-transform: uppercase;
}
#section-estrutura, #section-contato {
    margin: 1rem 0rem 1rem 2rem;
    border-bottom: 1px solid #dee2e6;
    padding: 3rem!important;
}
section .my-auto h2 {
    color: #6B747D;
}
#section-estrutura .container h3 {
    color: #211F20;
}
#section-estrutura .botao {
    background: none;
    border: 2px solid #393939;
    padding: 0.3em 1.7em;
    text-transform: uppercase;
    font-family: cinzel, serif;
    font-weight: 500;
    min-width: 180px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    color: #333;
}
.screen-reader-response {
    position: absolute;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    width: 1px;
    margin: 0;
    padding: 0;
    border: 0;
}
.form-control {
    border-radius: 0;
    background-color: #eee;
    border-color: #eee;
    font-size: 1em;
    min-height: 2.5em;
}
.btn-tertiary {
    background: #6A757D;
    color: white;
    text-transform: uppercase;
    border-radius: 0;
    font-size: 0.9em;
    padding: 0.8em 3em;
}
.btn-tertiary:hover {
    color: white;
}
@media (max-width: 700px){
	#div-mobile {
		display: block;
		padding-top: 12px;
		padding-right: 12px;
	}
	#botao-mobile{
		float: right;
		display: block;
	}
	#botao-mobile i{
		color: #fff;
	}
	#sideNavDesktop {
		display: none;
	}
	h2 {
	    font-size: 2rem;
	}
	header {
		display: none;
	}
	body {
	    padding-left: 0;
	}
	#mainNavDesktop {
		background-color: #164C2A!important;
	}
	#mainNavDesktop ul {
		display: none;
		float: left;
		margin-left: 0!important;
	}
    .li-ul-main a:hover {
	    border-bottom: none!important;
	}
    .logo {
    	display: none;
    }   
	#section-home {
    	margin: 0;
    	margin-bottom: 1rem;
    	padding-top: 0!important;
    	padding-bottom: 0!important;
    	background-position-x: center!important;
    }
    #section-institucional {
    	max-width: 100%!important;
    	background-color: #00000080;
    }
    #section-institucional h1 {
    	font-size: 35px;
		margin-top: 50px;
		margin-bottom: 50px;
    }
    .box-legend {
	    padding-top: 50px !important;
	    padding-bottom: 50px !important;
	}
    .texto-principal {
	    padding-top: 0!important;
	}
	.box-legend p {
    	font-size: 15px;
	}
	.botao {
		font-size: 12px;
	}
	.social-media, .botao-institucional {
		width: auto;
	}
	.social-media i {
	    font-size: 33px;
	}
	#section-equipe {
    	margin: 0;
    	margin-bottom: 1rem;
    	padding-top: 0!important;
    	padding-bottom: 0!important;
    	background-position-x: center!important;
		background-position-y: 30%!important;
    }
    .div-oculta {
	    margin-top: 0;
	}
	#section-equipe .box-legend {
		width: auto;
		margin: 120px auto!important;
		margin-bottom: 0!important;
		padding: 0 !important;
	}
	#section-equipe h2{
		margin-top: 10px;
		font-size: 30px;
	}
	#section-equipe .botao {
		min-width: auto;
		margin-top: 20px;
    	margin-bottom: 20px;
    }
    #section-atuacao {
	    padding: 0rem !important;
	}
	img.float-left-position {
	    max-width: 100%;
	    left: -1rem;
	}
	img.float-left-position {
	    position: relative;
	    width: 100%;
	    left: -5rem;
	    padding: 0;
	    z-index: auto;
	}
	.list-areas {
	    text-align: center;
	}
	#section-estrutura {
	    text-align: center;
	   	margin: 0;
	   	padding: 1rem!important;
	}
	.desc-address {
	    margin-top: 2rem;
	    margin-bottom: 1rem;
	}
	.desc-address .col.text-right {
	    text-align: center!important;
	}
	#section-contato {
	    margin: 0;
	    padding: 1rem!important;
	}
	form .submit {
	    width: 100%;
	}
}
